<div class="social-share">
  <h4>Share on</h4>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="twitter" title="Share on Twitter"><i class="fa fa-twitter"></i><span> Twitter</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook" title="Share on Facebook"><i class="fa fa-facebook"></i><span> Facebook</span></a>
    </li>
    <li>
      <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}" class="reddit" title="Share on Reddit"><i class="fa fa-reddit"></i><span> Reddit</span></a>
    </li>
    <li>
      <a href="https://linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}" class="linkedin" title="Share on LinkedIn"><i class="fa fa-linkedin"></i><span> LinkedIn</span></a>
    </li>
	<li>
	 <a href="https://wa.me/?text={{ site.url }}{{ page.url }}" class="whatsapp" title="Share on WhatsApp"><i class="fa fa-whatsapp"></i><span> WhatsApp</span></a>
	</li>
  </ul>
</div><!-- /.social-share -->
